@media only screen and (max-width:1280px) {
    html {
        scroll-padding-top: 120px;
    }

    .container-aboutMe {
        margin: 20px 30px;
    }
    
    .container-skills {
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        margin: 50px;

    }

    .container-edu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        margin: 50px;
    }

    #projects {
        .card-container{
            margin: 20px 0px;
            column-gap: 30px;

            .card{
                margin: 0;
            }
        }
    }

}

@media only screen and (max-width:820px) {
    html {
        scroll-padding-top: 120px;
    }

    header {
        .container-nav {
            justify-content: center;
        }

        .nameTag {
            h2 {
                margin: 10px 0 0 0;
            }
        }

        .navbar ul {
            margin-top: 0;
        }
    }

    .container-aboutMe {
        grid-template-columns: 1fr;
        justify-content: center;
        margin: 20px 5px;
        gap: 10px;

        .aboutMe {
            order: 2;
        }

        .profilePic {
            order: 1;
            text-align: center;

            & img {
                width: 200px;
            }
        }
    }

    .container-edu {
        grid-template-columns: 1fr;
        row-gap: 40px;
        margin: 30px;
    }

}

@media only screen and (max-width:430px) {
    html {
        scroll-padding-top: 180px;
    }

    .container-skills {
        grid-template-columns: 1fr;
        column-gap: 0px;
    }
}