@import url('https://fonts.googleapis.com/css2?family=Skranji&family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Titillium+Web:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/* navbarStart */
header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;

    .container-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        box-shadow: 5px 5px 30px #d6d1d1;
    }

    .nameTag {
        font-family: 'Skranji', cursive;
        cursor: pointer;
        font-weight: 900 !important;
    }

    .nameTag:hover {
        scale: 1.2;
    }


    .navbar ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: grey;
        text-transform: uppercase;
    }

    a:hover {
        color: #d92cf9;
    }
}

/* Top mover button */
.top-mover-btn a {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px 13px;
    color: #fff;
    background-color: #7e2cf9;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.top-mover-btn a:hover {
    background-color: #7e2cf9aa;
}


/* Welcome Banner start */
.welcomeBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url(img/bg3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.welcomeBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(31, 44, 108, .65);
    width: 100%;
    height: 100%;
}

/* Inside classes and elements of welcomeBanner */
.welcomeBanner {

    .container-banner {
        z-index: 998;
    }

    .headerText {
        margin: 50px auto;
        /* padding: 50px auto; */
        text-align: center;

        h2 {
            color: white;
            font-size: 54px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        p {
            color: whitesmoke;
            font-size: 20px;
            text-transform: uppercase;
            margin: 50px 0;
            font-family: 'Croissant One', cursive;
        }

        a {
            padding: 15px;
            margin: 50px 0;
            border: none;
            border-radius: 5px;
            background-color: #7e2cf9aa;
            cursor: pointer;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 300;
            font-family: 'Croissant One', cursive;
        }

        a:hover {
            background-color: #7e2cf9;
        }
    }
}

/* Section- About Me */
.title {
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 300;
    color: rgb(81, 81, 81);
    border-bottom: 1px solid rgb(241, 224, 224);
    text-transform: uppercase;
    font-family: 'Croissant One', cursive;

}

.container-aboutMe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    gap: 100px;
    margin: 50px 200px;

    .aboutMe {
        .details {
            padding: 0 0 20px 0;
            border-bottom: 1px solid grey;


            h2 {
                line-height: 30px;
                font-family: Poppins, sans-serif;
                font-weight: 500;
            }

            h3 {
                line-height: 30px;
                color: grey;
                font-family: Poppins, sans-serif;
                font-weight: 300;
            }
        }

        .contact {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 20px;
            justify-content: space-around;
            margin-top: 30px;

            h3 {
                font-weight: 500;
                line-height: 0;
                text-align: center;
            }

            p {
                color: grey;
                font-family: ;
                text-align: center;

            }
        }
    }

    .profilePic {
        img {
            width: 300px;
            box-shadow: 0px 0px 20px grey;
        }
    }

}

/* Section- Skills */
.container-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin: 50px 200px;


    .course {

        h4 {
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 0;
        }

        .progress-bar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .bar {
                border: none;
                border-radius: 5px;
                height: 8px;
                width: 100%;
                background-color: #e6ecf3;

                .progress {
                    background: #7e2cf9;
                    height: 100%;
                    overflow: hidden;
                    border-radius: 5px;
                    animation-name: progress;
                    animation-duration: 3s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: 1;
                }
            }
        }
    }
}


/* footer */
footer {
    p {
        text-align: center;
        color: grey;
        margin: 50px 0;
    }
}

/* Common classes */
.color-primary {
    color: #7e2cf9;
}

.bgcolor-primary {
    background-color: #7e2cf9;
}

/* keyframes */
@keyframes progress {
    0% {
        width: 0%;
    }
}